<div class="container">
  <mat-card >
    <mat-card-header class="header-card">
      <mat-card-subtitle>Coupon</mat-card-subtitle>

      <mat-card-title>{{coupondata.name}}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-bd">
        <p>terms</p>
        <div *ngIf="currency === ' %'">
        <p>{{ discountvalue + currency  + ' off ' + coupondata.duration }}</p>
         </div>
         <div *ngIf="currency !== ' %'">
          <p>{{ currency+ ' ' + discountvalue+ ' off ' + coupondata.duration }}</p>
        </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-3">
    <mat-card-header class="header-card">

      <mat-card-title>Details</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-bd">
        <div class="row">
          <div class="col-md-6">
            <div class="details">
              <div class="inner-detail">
                <p>ID</p>
                <p>{{ coupondata.id }}</p>
              </div>
            </div>
            <div class="details">
              <div class="inner-detail">
                <p>Name</p>
              <p>{{coupondata.name}}</p>
              </div>
            </div>
            <div class="details">
              <div class="inner-detail">
                <p>Created</p>
                <p> {{coupondata.created | date : 'd MMMM'}} </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="details">
              <div class="inner-detail">
                <p>Discount</p>
                <p>{{discountvalue}}</p>
              </div>
            </div>
            <div class="details">
              <div class="inner-detail">
                <p>Valid</p>
              <p>{{coupondata.valid}}</p>
              </div>
            </div>
            <div class="details">
              <div class="inner-detail">
                <p>Duration</p>
                <p>{{coupondata.duration}}</p>
              </div>
            </div>
          </div>
        </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-3">
    <mat-card-header class="header-card">
      <mat-card-title>Events</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-bd">
        <p>{{'New Coupon with the ID ' + coupondata.id + ' was created'}}</p>
        <p>{{coupondata.created | date: 'short'}}</p>
    </mat-card-content>
  </mat-card>
</div>
