<div class="container">
  <mat-card>
    <mat-card-header class="header-card">
      <mat-card-subtitle>Coupon</mat-card-subtitle>

      <mat-card-title>Shiba Inu</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-bd">
        <p>terms</p>
        <p>12 % off</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-3">
    <mat-card-header class="header-card">

      <mat-card-title>Details</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-bd">
        <div class="row">
          <div class="col-md-6">
            <div class="details">
              <div class="inner-detail">
                <p>ID</p>
                <p>Lrnfjj</p>
              </div>
            </div>
            <div class="details">
              <div class="inner-detail">
                <p>Name</p>
              <p>Lrnfjj</p>
              </div>
            </div>
            <div class="details">
              <div class="inner-detail">
                <p>Created</p>
                <p>Lrnfjj</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="details">
              <div class="inner-detail">
                <p>ID</p>
                <p>Lrnfjj</p>
              </div>
            </div>
            <div class="details">
              <div class="inner-detail">
                <p>Name</p>
              <p>Lrnfjj</p>
              </div>
            </div>
            <div class="details">
              <div class="inner-detail">
                <p>Created</p>
                <p>Lrnfjj</p>
              </div>
            </div>
          </div>
        </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-3">
    <mat-card-header class="header-card">
      <mat-card-title>Events</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-bd">
        <p>Coupon created</p>
    </mat-card-content>
  </mat-card>
</div>
