table{
  width: 100%;
}

th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.actionbtn {
  background-color: white !important;
  color: #673ab7 !important;

}

.mat-header-cell {
  font-size: 16px;
  font-weight: bold;
}

.dashboard-head {
  display: flex;
  justify-content: space-between;
}

@media  only screen and (max-width: 500px){
  .dashboard-head h2{
      font-size: 1.5rem;
  }
  .dashboard-head button {
    font-size: 12px;
  }

}


