
<div mat-dialog-title class="dialog-head-cont">
  <p>Warning</p>
  <button mat-icon-button [mat-dialog-close] = "false"><mat-icon style="color: #697386;">cancel</mat-icon></button>

</div>

<div mat-dialog-content class="dialog-cont">
  <h4>Delete Coupon?</h4>
</div>
<div mat-dialog-actions class="btn-wrapper">
  <button mat-stroked-button color="warn" [mat-dialog-close] = "false" id="cancel-btn">Cancel&nbsp; <mat-icon>clear</mat-icon></button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" id="ok-btn">yes &nbsp;<mat-icon>done</mat-icon></button>
</div>
