<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container">
    <a class="navbar-brand" href="#" mat-button>COUPONS APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" *ngIf="authstatus">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto" *ngIf="authstatus">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout<mat-icon >logout</mat-icon></a>
        </li>

      </ul>
    </div>
  </div>
</nav>

