/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*:focus {
  outline: none !important;
  border: 0 !important;
}

.main{
  width : 30%;
  margin: auto;
}

.mat-form-field{
  width: 100%;
}

.inner-header-loginsignup {
  display: flex;
  justify-content: center;
}
.inner-header-loginsignup h1 {
  margin-left: 23px;
  color: #697386;
}


@media  only screen and (max-width: 1100px){
  .main{
      width: 50%;
  }

}

@media  only screen and (max-width: 900px){
  .main{
      width: 80%;
  }

}

@media  only screen and (max-width: 500px){
  .main{
      width: 90%;
  }

}
